@font-face {
  font-family: 'hazel';
  src: url('hazel.ttf');
}

h1 { 
  font-family: 'hazel';
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 50px;
}

h2 {
  margin-top: -5px;
  margin-bottom: 15px;
  border-bottom: 2px solid #EEE;
}

h4 {
  font-family: 'Bitter', serif;
}

p {
  font-family: 'Bitter', serif;
}

.ul-nobullets {
  list-style-type: none;
}

.ul-nopadding {
  padding-left: 0px;
}